<% if @user.errors.any?  %>
<% @user.errors.full_messages.each do |error| %>
  <%= error %>
  <% end %>
<% end %>

<h1>Create New User</h1>

<%= form_for @user do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :age %>
  <%= f.text_field :age %> <br>

  <%= f.label :location %>
  <%= f.text_field :location %> <br>

  <%= f.label "Quarters Owned" %>
  <%= f.collection_check_boxes :quarters, Quarter.all, :id, :id %>


  <%= f.submit "Create User" %>
<% end %>
